## Folders
negation_comprehension_files/
private/
papers/

## Mac
.DS_Store
*/DS_Store

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fff

## R files
*.Rproj
.Rproj.user/